.App {
  text-align: center;
}

.App-header {
  background-color: rgb(136, 70, 7);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Params {
  text-align: left;
  padding-left:40px;
}

.Param {
  margin-right: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  display: table-cell;
}

.ParamRow {
  display: table-row;

}

.ParamsContainer {
  display: table;
}