.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Params {
  text-align: left;
  padding-left:40px;
}

.Param {
  display: inline;
  margin-right: 5px;
}

.ParamRow {
  margin-bottom: 5px;
}
